@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/pagini/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  background-attachment: inherit;
  z-index: -1;
}

body {
  font-family: "Sen", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
}

a:hover {
  color: #37C2CC;
}

a {
  transition: all 0.3s ease-out 0s;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}



.asm-navbar {}

.navbar-toggler {
  color: #37C2CC;
  border: none;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a.active {
  color: #37C2CC;
}

.asm-section {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  display: flex;
  align-items: center;
  z-index: 1;
}

a.scroll-top {
  width: 45px;
  height: 45px;
  background: #37C2CC;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  line-height: 45px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");